/* App.css */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
}

.converter-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.select-container {
  display: flex;
  margin-bottom: 10px;
}

select {
  flex: 1;
  padding: 10px;
  margin-right: 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  background-color: #fff;
  cursor: pointer;
}

span {
  font-weight: bold;
  align-self: center;
}

p {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #333;
}
